 <h2 class="header">Games Arena</h2>
 <div class="sub-header">
 	<mat-form-field floatlabel="always" class="search-width" *ngIf="!showSection1"> 
 		<input type="text" placeholder="Search(by name)" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="searchText" [disabled]="true">
 		<mat-autocomplete #auto="matAutocomplete">
 			<mat-option *ngFor="let game of filteredGames | async" [value]="game.title">
 				{{game.title}}
 			</mat-option>
 		</mat-autocomplete>
 	</mat-form-field>
 	<mat-icon color="primary" class="margin-left-20" (click)="onClickSort()" matTooltip="Sort" *ngIf="!showSection1">sort</mat-icon>
 	<mat-icon color="primary" class="margin-left-20" (click)="showSection1 ? showSection1 = false : showSection1 = true;" matTooltip="Categorize">category</mat-icon>
 </div>


 <div class="grey-background">
 	<div class="container" *ngIf="showSection1">
 		<div *ngFor="let games of groupedGames">
 			<mat-toolbar>
 				<mat-toolbar-row>
 					<span>{{games[0].platform}}</span>
 				</mat-toolbar-row>
 			</mat-toolbar>
 			<div class="row">
 				<div class="col-lg-4" *ngFor="let game of games">
 					<div class="card card-style">
 						<div class="card-body">
 							<div class="row">
 								<div class="col-lg-4 card-content"></div>
 								<div class="col-lg-6">
 									<label>{{game.title}}</label>
 									<label class="game-platform">{{game.platform}}</label>
 								</div>
 								<mat-icon class="yellow-font" *ngIf="game.editors_choice==='Y'">grade</mat-icon>
 							</div>
 						</div>
 						<div class="card-footer text-muted">
 							<div class="game-footer">
 								<label>Genre: {{game.genre}}</label>
 								<label class="redFont">{{game.score}}</label>
 							</div>
 						</div>
 					</div>
 				</div>	
 			</div>
 		</div>
 	</div>

 	<div class="container" *ngIf="!showSection1">
 		<div class="row">
 			<div class="col-lg-4" *ngFor="let game of games | filter : searchText | paginate: {itemsPerPage:6, currentPage:p}">
 				<div class="card card-style">
 					<div class="card-body">
 						<div class="row">
 							<div class="col-lg-4 card-content"></div>
 							<div class="col-lg-6">
 								<label>{{game.title}}</label>
 								<label class="game-platform">{{game.platform}}</label>
 							</div>
 							<mat-icon class="yellow-font" *ngIf="game.editors_choice==='Y'">grade</mat-icon>
 						</div>
 					</div>
 					<div class="card-footer text-muted">
 						<div class="game-footer">
 							<label>Genre: {{game.genre}}</label>
 							<label class="redFont">{{game.score}}</label>
 						</div>
 					</div>
 				</div>
 			</div>	
 		</div>
 		<div class="footer">
 			<pagination-controls (pageChange)="p =$event" maxSize="5"></pagination-controls>
 		</div>
 	</div>
 </div>